<!-- base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block extrajs %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="content">
            <span class="logo"><a href="#">¡Hola Mundo!</a></span>
            <button class="menu-button" onclick="toggleMenu()">&#9776;</button>
            <ul id="menu-links" class="menu-links">
                <li><a href="/">Sobre mi</a></li>
                <li><a href="{% url 'roadmap' %}">Roadmap</a></li>
            </ul>
        </div>
    </header>

    <!-- Contenido principal de la página -->
    <div class="container">
    {% block container %}
    {% endblock %}
    </div>


    <!-- Pie de pagina -->
    {% block footer %}        
    {% endblock %}
    

    <div class="goto-top">
        <a href="#top"><i class="fas fa-arrow-up"></i></a>
    </div>

    <script>
        function toggleMenu() {
            var menuLinks = document.getElementById("menu-links");
            if (menuLinks.style.display === "none") {
                menuLinks.style.display = "block";
            } else {
                menuLinks.style.display = "none";
            }
        }
    </script>
</body>

</html>